
# Created by https://www.gitignore.io/api/bower,dropbox,node,windows,sass

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp


### Dropbox ###
# Dropbox settings and caches
.dropbox
.dropbox.attr
.dropbox.cache


### Node ###
# Logs
logs
*.log
npm-debug.log*


# Runtime data
pids
*.pid
*.seed


# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history


### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### Sass ###
.sass-cache/
*.css.map

### Prepros###
prepros.cfg
