body
  font-family: $georgia
  margin: 0 auto
  color: $color1
  font-size: 16px
  background: $color4
  position: relative
a
  color: $color2

.hr
  border-top: 6px solid $color4
  border-radius: 5px
  margin-left: 1em
  margin-right: 1em

.page-content
  background: white

.text-right
  text-align: right

#main
  position: relative
  min-width: 360px
