.header
  background: $color6
  border-bottom: 2px solid $color5
  padding: 10px 0
  margin-bottom: 50px

#bio-name
  text-align: right

#name
  color: $color2
  margin: 5px 0

.nav-icon
  display: inline-block
  height: 100%
  margin: 20px 10px
  padding: 5px
  font-size: 1.5em
  color: $color5
  &:hover
    cursor: pointer
    opacity: 0.8
    color: $color1
