.projects-section
  @extend %flex-entry-cont
  margin-top: 80px
  border-top: 40px solid $color4

.project-entry
  @extend .row
  //background: $color4
  padding: 10px
  margin-bottom: 40px
  flex: 1

.projects-heading
  width: 100%

.project-info
  @extend .col-sm-6

.project-image
  @extend .col-sm-6
  background: $color4
  padding: 10px
